@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: white;
}

a{
    color: white;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

img{
    width: 100%;
}

.bg-cover{
    background-position: center !important;
    background-size: cover !important;
    background-position: center !important;
}

section{
    padding-top: 100px;
    padding-bottom: 80px;
    background-color: #101316;
}

/*navbar - Social Midia*/

.top-nav{
    background-color: #302E37;
    padding-top: 15px;
    padding-bottom: 15px;
    vertical-align: middle; 
}

.top-nav p{
    margin-bottom: 0;
    display: inline-block;
    margin-right: 16px;
    color: white;
    font-size: 20px;
}

.top-nav i, .top-nav span{
    vertical-align: middle;
}

.social-links a{
    width: 34px;
    height: 34px;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.25);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    margin-right: 2px;
}

.social-links a:hover{
    background-color: #F29305;
    color: white; 
}

/*navbar - links*/

.navbar{
    background-color: #090B0D;
    font-size: 25px;
}


.btn{
    padding: 9px 50px;
}

.btn-brand{
    background-color: #A6A6A6;
    font-size: 25px;
    font-weight: 600;
    color: white;
    transition: all 0.3s ease 0s;
}

.btn:hover{
    background-color: #F29305;
    color: white;
}

.navbar .navbar-nav .nav-link{
    color: white;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:active{
    color: #F29305;
}

/*Title - h1, h2, h3, h4, h5, h6*/

.container h1{
    color: #F29305;
    font-weight: 600;
    font-size: 60px;
}

h3{
    color: white;
}

/* SLIDE */

.slide1{
    background-image: url(../img/home-img.png);
}

.slide2{
    background-image: url(../img/home-img-2.png);
}

/*Own Carousel*/

.own-prev,
.own-next {
    position: absolute;
    top: 50%;
    width: 60px !important;
    height: 60px !important;
    display: grid;
    place-items: center;
    background-color: white;;
}

/*INFO BOX*/
.info-box{
    display: flex;
    align-items: center;
}

h5{
    font-weight: 700;
    color: #F29305;
}

.info-box img{
    width: 200px;
    height: 200px;
    margin-right: 30px;
}

.bg-info-1{
    margin-left: 30px;
}