@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #0B0A0D;
}

.box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    background: #0B0A0D;
}

.li, a, button{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500px;
    font-size: 25px;
    color: white;
    text-decoration: none;
    text-align: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px
}

.logo {
    cursor: pointer;
}

.nav_links{
    list-style: none;
}

.nav_links, li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links, li, a{
    transition: all 0.3s ease 0s;
}

.nav_links, li a:hover{
    color: #F29305;
}

.botao_01 {
    padding: 9px 25px;
    background-color: #F29305;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #4E565C;
}

@media screen and (max-width: 768px){
    header{
        height: 48px;
        justify-content: space-between;
        padding: 0, 28px;
    }

    .logo a{
        font-size: 0.9rem;
    }

    .logo img{
        width: 30px;
    }

    .header__toggle {
        display: inline;
        color: white;
        font-size: 24px;
    }

    .header__close{
        position: absolute;
        right: 24px;
        display: block;
        font-size: 24px;
    }

    .header__close:hover{
        color: #F29305;
    }

    .nav{
        position: fixed;
        top: 0;
        background-color: #4E565C;
        color: white;
        width: 60%;
        height: 100vh;
        padding: 24px 0;
        transition: 0.5s;
    }
    .nav__list{
        display: flex;
        flex-direction: column;
    }

    .nav__item {
        margin: 2rem 0;
    }

    .show{
        right: 0;
    }
}