@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background-color: #0B0A0D;
    font-size: 24px;
}

.header .navbar a{
    margin: 0 1rem;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.header .navbar a:hover{
    color: #F29305;
}

section{
    padding: 2rem 7%;
}

.icons{
    color:#F29305; 
}

.home{
    min-height: 126vh;
    display: flex;
    align-items: center;
    background: url(./img/home-img.png) no-repeat;
    background-size: cover;
    background-position: right;
}

.home > .content{
    max-width: 60rem;
}

.home > .content > h1{
    font-size: 14rem;
    color: #F29305;
    line-height: 12rem;
}

.home > .content > h3{
    font-size: 7rem;
    color: white;
    line-height: 8rem;
}

.button{
    margin-top: 1rem;
    display: inline-block;
    color: white;
    background-color: #F29305;
    text-decoration: none;
    padding: 1.5rem 2rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease 0s;
}

.button a:hover{
    color:#0B0A0D;
}

.video{
    display: flex;
    background-color: #0B0A0D;
    background-size: cover;
    justify-content: center;
}













@media (max-width:991px){

    html{
        font-size: 55%;
    }

    header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }
}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 16rem;
        height: calc(75vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }
}